.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mt20 {
  margin-top: 20px;
}

.mt32 {
  margin-top: 32px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb60 {
  margin-bottom: 60px;
}

.ml8 {
  margin-left: 8px;
}

.ml12 {
  margin-left: 12px;
}


.ml16 {
  margin-left: 16px;
}

.ml20 {
  margin-left: 20px;
}

.ml32 {
  margin-left: 32px;
}

.ml40 {
  margin-left: 40px;
}

.ml60 {
  margin-left: 60px;
}

.t2 {
  top: 2px;
}

.t4 {
  top: 4px;
}

.t6 {
  top: 6px;
}