:host {
  display:grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 0 5%;
}

.filters-form * { 
  box-sizing: border-box;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end; 
  border-radius: 6px;
}

.actions {
  display: flex;
  gap: 10px;
}

.receipt-documents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

